<div class="heading-logo">
  <img src="https://i.postimg.cc/8zV5L91p/Hunters.png" alt="Fc.Hunters">
  <h1>FC. HUNTERS</h1>

</div>
<ul nz-menu nzMode="horizontal">
  <li nz-menu-item>
    <a routerLink="add"></a>
    <i nz-icon nzType="plus-circle"></i>
    Đăng ký áo
  </li>
  <li nz-menu-item>
    <a routerLink="list-shirts"></a>
    <i nz-icon nzType="ordered-list"></i>
    Danh sách làm áo
  </li>
</ul>

<div class="copyright">
  <p>Copyright <i nz-icon nzType="copyright" nzTheme="outline"></i> 2022 - <a href="https://www.facebook.com/groups/1807551722792283" target="_blank">Fc.Hunters</a> </p>
  <p>Hunters v1.0.0 - Proprietary license.</p>
</div>
<router-outlet></router-outlet>
